<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Go WebSocket Tutorial</title>
</head>
<body>
<h2>Client Side!</h2>

<div id="log-div">
    <ul id="log-list">

    </ul>
</div>

<script>
    let logList = document.getElementById("log-list")

    listenerPort = 53612
    let socket = new WebSocket(`ws://127.0.0.1:${listenerPort}/ui`);
    console.log("Attempting Connection...");

    socket.onopen = () => {
        console.log("Successfully Connected");
    };

    socket.onclose = event => {
        console.log("Socket Closed Connection: ", event);
        socket.send("Client Closed!")
    };

    socket.onerror = error => {
        console.log("Socket Error: ", error);
    };
    socket.onmessage = event => {
        // Add logs to the page
        console.log("Message is: ", event);
        let li = document.createElement('li');
        li.appendChild(document.createTextNode(event.data));
        logList.appendChild(li);
    };

</script>
</body>
</html>